@page "/NavMenu"
@using Handicraft.Data
@using static Handicraft.Data.GetDataClass;
@using static Handicraft.Data.ConnectDB;
@using static Handicraft.Data.RegistrationModel;
@using static Handicraft.Pages.Registration;

@inject AuthenticationStateProvider Provider


<div class="left-container">

    <div class="navbar-top" style="">

        <RadzenDataGrid AllowFiltering="false" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10" class="@destroyLogic"
                        AllowSorting="false" TItem="ConnectDB.Type" Data="@types" SelectionMode="DataGridSelectionMode.Single" ColumnWidth="100px" @bind-Value=@typesic
                        href=@productIcon>
            <Columns>
                <RadzenDataGridColumn TItem="ConnectDB.Type" Property="id" Title="ID" Visible="false"></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ConnectDB.Type" Property="name" Title="Выберите категорию" Width="150px">
                    <HeaderTemplate>
                        <div>
                            <a href="/">Выберите категорию</a>
                            <button class="oi oi-plus nav-button" onclick=@renderLogicFunction></button>
                        </div>
                    </HeaderTemplate>
                    <Template Context="typ">
                        @typ.name
                        @if (typesic[0].name == typ.name)
                        {
                            <div>
                                <button class="oi oi-minus nav-button" onclick=@deleteTypeClick></button>
                            </div>
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

        <div class="@addTypeLogic">
            <input class="input-type-field" type="text" @bind=@typeName />
            <button class="add-buttons" onclick="@addTypeClick">Добавить</button>
            <button class="add-buttons" onclick="@cancelTypeClick">Отмена</button>
        </div>
    </div>
</div>
@if (typesic.Count > 0)
{
    <ProductIcon TypeProduct=@typesic[0]>
    </ProductIcon>
}
@code {
    List<User> user { get; set; }
    ProductIcon productIcon;
    string destroyLogic = "renderLogic";
    string addTypeLogic = "add-type-destroy";
    string typeName = "";
    List<string> userData = new List<string>();
    List<ConnectDB.Type>? types = new List<ConnectDB.Type>();
    IList<ConnectDB.Type>? typesic = new List<ConnectDB.Type>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        uploadData();
        //user =  ;
    }
    /*protected override async Task OnInitializedAsync()
        {
        var state = await Provider.GetAuthenticationStateAsync();
        userData.Add(state?.User?.Identity?.Name ?? "Sorry");

        //base.OnInitializedAsync();
    }*/
    public void uploadData()
    {
        types = GetDataClass.getTypes();
        typesic = types.Take(1).ToList();

    }
    public void renderLogicFunction()
    {
        if (destroyLogic == "destroyLogic")
        {
            destroyLogic = "renderLogic";
            addTypeLogic = "add-type-destroy";
        }
        else
        {
            destroyLogic = "destroyLogic";
            addTypeLogic = "add-type";
        }
    }
    public void addTypeClick()
    {
        if (typeName != "")
        {
            ConnectDB.Type newType = new ConnectDB.Type
                {
                    id = Guid.NewGuid(),
                    name = typeName
                };
            if (newType != null)
            {
                using (var db = new ConnectContext("",""))
                {
                    db.types?.Add(newType);
                    db.SaveChanges();
                    uploadData();

                    renderLogicFunction();
                }
            }
        }
    }
    public void deleteTypeClick()
    {
        Guid idType = typesic[0].id;
        if (idType != Guid.Empty)
        {
            using (var db = new ConnectContext("",""))
            {
                var type = db.types.Where(x => x.id == idType).ToList();
                if (type.Count > 0) return;
                db.Remove(type[0]);
                db.SaveChanges();
                uploadData();
            }
        }
    }
    public void cancelTypeClick()
    {

        renderLogicFunction();
    }
}
